@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #536878;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: blue;
}
